# Python
__pycache__/
*.py[cod]
*$py.class

# Дистрибутивы и пакеты
dist/
build/
*.egg-info/
*.egg

# Виртуальное окружение
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Операционная система
.DS_Store
Thumbs.db